<div class="panel panel-default">
  <div class="panel-heading"></div>
  <div class="panel-body">

    <p><h1>New Person</h1></p>

    <div class="page-header">

    </div>

  </div>



<%= render 'form' %>

<%= link_to 'Back', people_path %>

<div class="well example">
  <p>
    <strong>
      It should look like this:
    </strong>
  </p>

  <%= image_tag "new-person.png", class: "img-responsive" %>
</div>
