<div class="starter-template">
  <h1>Bootstrapping Rails Forms</h1>
  <p class="lead">Can you style the form?</p>
</div>


<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Panel heading</div>
  <div class="panel-body">
    <p>...</p>
  </div>

  <!-- Table -->
  <table class="table">
    ...
  </table>
</div>
